.roverTab {
  padding: var(--MA-padding-xs) var(--MA-padding-l);
  background-color: transparent;
  color: var(--MA-colorSecondary);
  border-radius: 8px 8px 0px 0px;
  gap: 10px;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s;
}

.roverTab > img {
  width: 16px;
  height: 16px;
}

.roverTab.active {
  background-color: var(--MA-colorSecondary);
  color: var(--MA-colorPrimary);
  font-size: 18px;
  font-weight: 400;
}

.roverTab.active > img {
  width: 20px;
  height: 20px;
}

.roverTab:not(.active):hover {
  background-color: var(--MA-colorSecondaryHover);
}
