.task {
  padding: var(--OR-padding-xs) var(--OR-padding-m);
  border-radius: var(--OR-border-radius);
  border: 1px solid var(--OR-colorSecondary);
  font-size: 14px;
  font-weight: 200;
  background-color: var(--OR-colorBGAlhpa);
}
