header {
  position: sticky;
  top: 0;
  font-family: var(--OR-fontSecondary);
  background-color: var(--OR-colorPrimary);
  z-index: 10;
}

header.header-desktop {
  width: 100%;
  height: var(--OR-header-height);
  background-color: var(--OR-colorPrimary);
  padding: var(--OR-padding-s) var(--OR-padding-m);
}

header.header-mobile {
  position: absolute;
}

.header-mobile {
  display: none;
  margin-top: 64px;
}

.hamburger-react {
  display: none;
  margin: var(--OR-margin-m);
}

.menu {
  width: 40px;
  height: 40px;
  margin: var(--OR-margin-s);
}

header.header-mobile {
  flex-direction: column;
  width: 0px;
  overflow: hidden;
  height: 100svh;
  margin-top: 64px;
  transition: all 0.4s ease;
}

header.header-mobile.isMobile {
  width: 100px;
  padding: var(--OR-padding-m) var(--OR-padding-s);
  border-right: 1px solid var(--OR-colorSecondary);
}

header.header-mobile > nav {
  margin-top: var(--OR-margin-l);
  height: 100%;
}

header.header-mobile > nav > ul {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: var(--OR-gap-xxl);
}

/* MEDIA QUERY */
@media (max-width: 600px) {
  header.header-desktop {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .hamburger-react {
    display: block;
  }
}
