header {
  width: 100%;
  height: 8svh;
  position: sticky;
  top: 0;
  padding: var(--MA-padding-s);
  font-family: var(--MA-fontSecondary);
  background-color: var(--MA-colorPrimary);
  z-index: 10;
}

nav,
ul {
  width: 100%;
  justify-content: flex-end;
  gap: var(--MA-gap-m);
}
.nav-link {
  color: var(--MA-colorTextPrimary);
  padding: var(--MA-padding-xs);
  font-size: 16px;
}

.nav-link.active {
  border-bottom: 2px solid var(--MA---MA-colorTextPrimary);
}
