.galleryChoose {
  color: var(--OR-colorSecondary);
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.galleryChoose > p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: var(--OR-margin-xxl);
}

.galleryChoose > a {
  width: 260px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  padding: var(--OR-padding-xs) var(--OR-padding-xxl);
  margin-bottom: 20px;
  background: var(--OR-colorPrimaryAlpha);
}
