.back > img {
  width: 16px;
}

.back {
  font-size: 16px;
  font-weight: 275;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px var(--OR-padding-m);
  gap: 10px;
  width: fit-content;
  position: absolute;
  left: 0;
  background-color: var(--OR-colorPrimary);
}

@media (max-width: 750px) {
  .back > .btn-text {
    display: none;
  }
  .back {
    padding: 8px var(--OR-padding-s);
    left: -20px;
    top: 0px;
  }
}
