.back > img {
  width: 16px;
}

.back {
  font-size: 16px;
  font-weight: 275;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px var(--MA-padding-m);
  gap: 10px;
  width: fit-content;
  position: absolute;
  left: 0;
}

@media (max-width: 750px) {
}
