#pictureDetail {
  width: 100%;
  min-height: 500px;
  justify-content: center;
  flex-direction: column;
  gap: var(--OR-gap-m);
  z-index: 1;
}

#pictureDetail > div:first-child {
  position: relative;
  width: 80%;
  justify-content: center;
}

#pictureDetail > p {
  font-size: 14px;
  font-weight: 300;
  max-width: 350px;
  text-align: center;
}

.date {
  border: 1px solid var(--OR-colorSecondary);
  padding: var(--OR-padding-xs) var(--OR-padding-s);
  font-size: 14px;
  border-radius: var(--OR-border-radius);
}

.imgDetail {
  border: 1px solid var(--OR-colorSecondary);
  border-radius: var(--OR-border-radius);
  overflow: hidden;
  margin: 0 var(--OR-margin-m);
  margin-bottom: var(--OR-margin-xxl);
  width: 90%;
  min-width: 400px;
  min-height: 180px;
  max-width: 800px;
}

.imgDetail > img {
  display: block;

  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

@media (max-width: 750px) {
  .imgDetail {
    min-width: 250px;
    height: auto;
    max-width: 500px;
  }

  #pictureDetail > div > h3 {
    max-width: 250px;
    text-align: center;
    margin-top: var(--OR-margin-l);
  }
}

@media (max-width: 600px) {
  #pictureDetail {
    margin-top: var(--OR-margin-m);
  }
}
