.planetBG {
  position: fixed;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  z-index: 0;
  transition: all 0.5s;
}

.planetBG > img {
  width: 90%;
  position: absolute;
  top: 10%;
  left: 0%;
  transform: translateX(-50%);
  transition: transform 0.5s ease;
}

.planetBG > img.rotate {
  transform: translateX(-50%) rotate(45deg);
  transform-origin: center center;
}
