.galleryTab {
  z-index: 1;
  gap: 60px;
  justify-content: center;
  border-bottom: 1px solid var(--MA-colorSecondary);
  margin-bottom: var(--MA-margin-xxl);
  align-items: flex-end;
  position: relative;
}

#galleryMars {
  width: 80%;
  z-index: 1;
  margin: auto;
}

.galleryMars {
  width: 100%;
  min-height: 500px;
  border-radius: var(--MA-border-radius);
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--MA-gap-xl);
}
