.extLink {
  border-radius: var(--OR-border-radius-button);
  font-family: var(--OR-fontSecondary);
  padding: var(--OR-padding-xs) var(--OR-padding-m);
  border: 1px solid var(--OR-colorSecondary);
  background-color: var(--OR-colorPrimary);
  color: var(--OR-colorSecondary);
  justify-content: center;
  gap: var(--OR-gap-s);
  width: fit-content;
}

.extLink > img {
  width: 16px;
}
