h1 {
  font-family: var(--MA-fontPrimary);
  font-size: 130px;
  font-weight: 400;
  color: var(--MA-colorSecondary);
}

.home {
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.primButt {
  padding: var(--MA-padding-xs) var(--MA-padding-l);
  font-size: 20px;
  color: var(--MA-colorSecondary);
  background-color: transparent;
  border: 2px solid var(--MA-colorSecondary);
  border-radius: var(--MA-border-radius-button);
}

.infoMars {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* MEDIA QUERY */
@media (max-width: 900px) {
  .home {
    top: 40%;
    left: 50%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 100px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 80px;
  }
}
