h1 {
  font-family: var(--MA-fontPrimary);
  font-size: 130px;
  font-weight: 400;
  color: var(--MA-colorSecondary);
}

.home {
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.infoMars {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
