h1 {
  font-family: var(--OR-fontPrimary);
  font-size: 130px;
  font-weight: 400;
  color: var(--OR-colorSecondary);
}

.home {
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.primButtShiny {
  border: 1px solid var(--OR-colorSecondary);
  padding: var(--OR-padding-xs) var(--OR-padding-l);
  color: var(--OR-colorSecondary);
  background-color: var(--OR-colorPrimaryAlpha);
  margin: 5px;
  border-radius: var(--OR-border-radius-button);
  display: block;
}

.primButtShiny > span {
  font-family: var(--OR-fontSecondary);
  font-size: 20px;
}

.infoGalaxy {
  width: 80%;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  bottom: 10%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

/* MEDIA QUERY */
@media (max-width: 900px) {
  .home {
    top: 40%;
    left: 50%;
  }

  .infoGalaxy {
    left: 50%;
    bottom: 10%;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 70px;
    margin-bottom: var(--OR-margin-s);
  }
  .home {
    top: 0;
    margin-top: 200px;
  }

  .home > a {
    font-size: 16px;
  }
  .infoGalaxy {
    width: 100%;
    padding: 8px;
  }
}

@media (max-height: 850px) and (max-width: 1000px) {
  .infoGalaxy {
    width: 100%;
    padding: 8px;
    gap: 16px;
    bottom: 5%;
  }
}
