.cardInfoOrbis {
  border-radius: var(--OR-border-radius);
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  gap: 5px;
  min-width: 215px;
  max-width: 250px;
  color: var(--OR-colorTextPrimary);
  border: 1px solid var(--OR-colorSecondary);
  padding: 16px 0;
  background-color: var(--OR-colorBGAlhpa);
}

.cardInfoOrbis > h3 {
  font-weight: 600;
  font-size: 16px;
}
.cardInfoOrbis > p {
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 600px) {
  .cardInfoOrbis {
    min-width: 150px;
    max-width: 200px;
    padding: 8px 0;
    background-color: var(--OR-colorBGAlhpa);
  }
  .cardInfoOrbis > h3 {
    font-weight: 500;
    font-size: 12px;
  }
  .cardInfoOrbis > p {
    font-weight: 200;
    font-size: 12px;
  }
  .cardInfoOrbis > img {
    width: 30px;
  }
}

@media (max-height: 800px) {
  .cardInfoOrbis {
    min-width: 150px;
  }
  .cardInfoOrbis > h3 {
    font-weight: 500;
    font-size: 14px;
  }
  .cardInfoOrbis > p {
    font-weight: 200;
    font-size: 14px;
  }
  .cardInfoOrbis > img {
    width: 20px;
  }
}
