.contact {
  margin-bottom: var(--OR-padding-s);
}

.contact > h4 {
  margin-top: 30px;
  font-weight: 400;
  margin-bottom: var(--OR-margin-s);
}

.contact > div {
  justify-content: center;
  gap: var(--OR-gap-s);
}

.contact > div > a {
  width: 70px;
  transition: all 0.3s;
}

.contact > div > a:hover {
  transform: scale(1.05);
}
