header {
  width: 100%;
  position: sticky;
  top: 0;
  padding: var(--MA-padding-s);
  height: 5svh;
  font-family: var(--MA-fontSecondary);
  z-index: 10;
}

nav,
ul {
  width: 100%;
  justify-content: flex-end;
}
.nav-link {
  color: var(--MA-colorTextSecondary);
  padding: var(--MA-padding-xs);
  font-size: 16px;
}

.nav-link.active {
  border-bottom: 2px solid var(--MA-colorTextSecondary);
}
