.btn-link {
  border-radius: var(--MA-border-radius-button);
  font-family: var(--MA-fontSecondary);
  padding: var(--MA-padding-xs) var(--MA-padding-m);
  border: 1px solid var(--MA-colorSecondary);
  background-color: transparent;
  color: var(--MA-colorSecondary);
}

.primButt {
  padding: var(--MA-padding-xs) var(--MA-padding-l);
  font-size: 20px;
  background-color: transparent;
  border: 2px solid var(--MA-colorSecondary);
}
