.btn-link {
  border-radius: var(--OR-border-radius-button);
  font-family: var(--OR-fontSecondary);
  padding: var(--OR-padding-xs) var(--OR-padding-m);
  border: 1px solid var(--OR-colorSecondary);
  background-color: transparent;
  color: var(--OR-colorSecondary);
}

.primButt {
  padding: var(--OR-padding-xs) var(--OR-padding-l);
  font-size: 20px;
  background-color: transparent;
  border: 2px solid var(--OR-colorSecondary);
}
