nav,
ul {
  width: 100%;
  justify-content: flex-end;
  gap: var(--OR-gap-m);
}
.nav-link {
  color: var(--OR-colorTextPrimary);
  padding: var(--OR-padding-xs);
  font-size: 16px;
}

.nav-link.active {
  border-bottom: 2px solid var(--OR-colorTextPrimary);
}
