@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* colors */
  --OR-colorPrimary: #070604;
  --OR-colorPrimaryAlpha: rgba(7, 6, 4, 0.8);
  --OR-colorSecondary: #fff8f8;
  --OR-colorSecondaryHover: #1d1d1d;

  --OR-colorTextPrimary: var(--OR-colorSecondary);
  --OR-colorBG: var(--OR-colorPrimary);
  --OR-colorBGAlhpa: var(--OR-colorPrimaryAlpha);

  /* font */
  --OR-fontPrimary: 'Orbitron', sans-serif;
  --OR-fontSecondary: 'Poppins', sans-serif;

  /* margins */
  --OR-margin-xs: 8px;
  --OR-margin-s: 16px;
  --OR-margin-m: 24px;
  --OR-margin-l: 32px;
  --OR-margin-xl: 40px;
  --OR-margin-xxl: 48px;

  --OR-padding-xs: 8px;
  --OR-padding-s: 16px;
  --OR-padding-m: 24px;
  --OR-padding-l: 32px;
  --OR-padding-xl: 40px;
  --OR-padding-xxl: 48px;

  --OR-gap-xs: 8px;
  --OR-gap-s: 16px;
  --OR-gap-m: 24px;
  --OR-gap-l: 32px;
  --OR-gap-xl: 40px;
  --OR-gap-xxl: 48px;

  --OR-border-radius: 8px;
  --OR-border-radius-button: 8px;

  --OR-header-height: 8svh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: var(--OR-fontSecondary);
}

body,
#root {
  min-height: 100svh;
  background: var(--OR-colorBG);
}

main {
  min-height: 90svh;
  width: 100%;
  flex-direction: column;
  padding-top: var(--OR-padding-xxl);
}

.flex {
  display: flex;
  align-items: center;
}

button,
a {
  cursor: pointer;
}

h3 {
  color: var(--OR-colorSecondary);
  font-size: 25px;
  font-weight: normal;
}

p,
button,
a {
  color: var(--OR-colorSecondary);
}

@media (max-width: 600px) {
  main {
    padding-top: 0px;
  }
}
