@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* colors */
  --MA-colorPrimary: #070604;
  --MA-colorPrimaryAlpha: rgba(7, 6, 4, 0.8);
  --MA-colorSecondary: #fff8f8;
  --MA-colorSecondaryHover: #1d1d1d;

  --MA-colorTextPrimary: var(--MA-colorSecondary);
  --MA-colorBG: var(--MA-colorPrimary);
  --MA-colorBGAlhpa: var(--MA-colorPrimaryAlpha);

  /* font */
  --MA-fontPrimary: 'Orbitron', sans-serif;
  --MA-fontSecondary: 'Poppins', sans-serif;

  /* margins */
  --MA-margin-xs: 8px;
  --MA-margin-s: 16px;
  --MA-margin-m: 24px;
  --MA-margin-l: 32px;
  --MA-margin-xl: 40px;
  --MA-margin-xxl: 48px;

  --MA-padding-xs: 8px;
  --MA-padding-s: 16px;
  --MA-padding-m: 24px;
  --MA-padding-l: 32px;
  --MA-padding-xl: 40px;
  --MA-padding-xxl: 48px;

  --MA-gap-xs: 8px;
  --MA-gap-s: 16px;
  --MA-gap-m: 24px;
  --MA-gap-l: 32px;
  --MA-gap-xl: 40px;

  --MA-border-radius: 8px;
  --MA-border-radius-button: 8px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: var(--MA-fontSecondary);
}

body,
#root {
  min-height: 100svh;
  background: var(--MA-colorBG);
}

main {
  min-height: 90svh;
  width: 100%;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

button,
a {
  cursor: pointer;
}

h3 {
  color: var(--MA-colorSecondary);
  font-size: 25px;
  font-weight: normal;
}
