@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* colors */
    --MA-colorPrimary: 
    --MA-colorSecondary: RED;
    --MA-colorTertiary:#FFC3C3;
    --MA-colorLight: #F8F8F8;


    --MA-colorTextPrimary: var(--MA-colorTertiary);
    --MA-colorTextSecondary: var(--MA-colorLight);
    --MA-colorBG: linear-gradient(180deg, #1E0700 0%, #471201 50.96%, #1E0700 100%);

    /* font */
    --MA-fontPrimary: 'Orbitron', sans-serif;
    --MA-fontSecondary: "Konkhmer Sleokchher", system-ui;

  /* margins */
  --MA-margin-xs: 8px;
  --MA-margin-s: 16px;
  --MA-margin-m: 24px;
  --MA-margin-l: 32px;
  --MA-margin-xl: 40px;
  --MA-margin-xxl: 48px;

  --MA-padding-xs: 8px;
  --MA-padding-s: 16px;
  --MA-padding-m: 24px;
  --MA-padding-l: 32px;

  --MA-gap-xs: 8px;
  --MA-gap-s: 16px;
  --MA-gap-m: 24px;
  --MA-gap-l: 32px;

  --MA-border-radius: 8px;
  --MA-border-radius-button: 8px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
 
}

body, #root {
 min-height: 100svh;
 background: var(--MA-colorBG);
 
}

main {
  min-height: 90svh;
}

.flex {
  display: flex;
  align-items: center;
}

button, a {
cursor: pointer;
}