.divTitle {
  width: 80%;
  justify-content: center;
  position: relative;
}

.galaxies-photos {
  margin-top: var(--OR-margin-xxl);
  margin-bottom: var(--OR-margin-xxl);
  border-radius: var(--OR-border-radius);
  width: 80%;
  flex-wrap: wrap;
  gap: var(--OR-gap-xl);
  justify-content: center;
}
