.divTitle {
  width: 80%;
  justify-content: center;
  position: relative;
}

.galaxies-photos {
  margin-top: var(--MA-margin-xxl);
  border-radius: var(--MA-border-radius);
  width: 80%;
  flex-wrap: wrap;
  gap: var(--MA-gap-xl);
  justify-content: center;
}
